. {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

body {
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(17 24 39);
}

button {
    height: 100px;
    width: 100px;
    font-size: 20pt;
    font-weight:bold;
}

#numberFrame {
    height: 100px;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

#num0 {
    width: 200px;
}

#calcContainer {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: blue;
    align-self: center;
}

#mainButtons {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 320px;
}

#miscButtons, #numberButtons{
    display: flex;   
}

#numberButtons{
    flex-wrap: wrap;
}

#numberButtons button{   
    background-color: rgb(196, 196, 196);
}

#buttons {
    display: flex;
    flex-direction: row;
    width: 100px;
}

#operatorButtons Button {
    background-color: rgb(48, 174, 252);
}

#miscButtons Button {
    background-color: orange;
}

#equation {
    color: white;
}